{% extends "base.html" %}

{% block content %}
<br>
<div class="row justify-content-center">
    <h5>Поставьте цель: </h5>
</div>
<div class="row justify-content-center">
    <form method = "POST" action="{% url "notes:notes_list" %}"> {% csrf_token %}
        {{ form.text }}
        <button type="submit" class="btn btn-success btn-sm">Создать</button>
    </form>
</div>

<br>
<div class="list-group">
    {% for note in notes %}
        {# Автор заметки: {{ note.author }} #}
    <div class="row justify-content-center">
        <div class="col-5">
        <a class="list-group-item list-group-item-action">{{ note.text }}</a>
        </div>
        <div class="col-3">
           <button type="button" class="btn btn-outline-success">
               Задачи
           </button>
            <a href="{% url "notes:note_delete" note.id %}">
            <button type="button" class="btn btn-outline-danger" name="{{ note.id }}" >
               Удалить
            </button>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<br>

{% endblock %}